.link-unstyled{
    text-decoration: none;
    color: #333;
}
.list-unstyled{
    list-style: none;
}
.list-item{
    padding: 4px ;
}

.btn{
    padding: 1em 1em;
    border-radius: 5px;
}

.btn-primary{
    border: 1px solid green;
    background-color: green;
    color: #fff;
}

.btn-error{
    border: 1px solid crimson;
    background-color: crimson;
    color: #fff;
}
.my-1{
    margin: 2em 0;
}

.heading{
    margin: .8em 0;
}

.heading-secondary{
    color: #333;
}
.border-bottom-underlined{
    border-bottom: 1px solid #333;
}
.container{
    width: 100%;
    max-width: 1100;
}